
.nav-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
    max-width: 992px;
    margin: 0 auto;
}
.container-main {
    padding: 15px;
}
.form-box {
    padding: 5px;
    width: 300px;
    margin: 0 auto;
}
.disabled {
    cursor: no-drop;
}